<pa2-lista></pa2-lista>
<md-card>
  <img md-card-avatar src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/005/054/200/3687b79.jpg"
    alt="Photo of a Shiba Inu">
  <md-card-title> Nombre: Mariana</md-card-title>
  <md-card-subtitle>Apellido: Mogro</md-card-subtitle>
  <md-card-subtitle>Direccion: Jose Antonio Arce 1344</md-card-subtitle>
  <button md-raised-button [routerLink]="['']" color="primary">Logout</button>
</md-card>


<!-- <md-card>
    <md-card-header>

      <img md-card-avatar src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTylbJoJfhWPXbOPdg4hd0F7Qb0h40AKxYp5uQZD0EPENLAELxCqA"
        alt="Photo of a Shiba Inu">
      
      <md-card-title>Nombre: Mariana</md-card-title>
      <md-card-subtitle>Apellido: Mogro</md-card-subtitle>
      <md-card-subtitle>Direccion: Jose Antonio Arce 1344</md-card-subtitle>

    </md-card-header>
    <md-card>
      <md-card-footer>
        <button md-raised-button [routerLink]="['']" color="primary">Logout</button>
      </md-card-footer>


    </md-card>
  </md-card>

  <md-card>
    <md-grid-list cols="3">
      <md-grid-tile [style.border-right]="'1px dashed #ddd'">
        Walter
      </md-grid-tile>
      <md-grid-tile [style.border-right]="'1px dashed #ddd'">
        Luly
      </md-grid-tile>
      <md-grid-tile>
        Rey
      </md-grid-tile>
    </md-grid-list>
  </md-card> -->